PrimeList.Test/bin/Debug/netcoreapp3.1/PrimeList.dll
PrimeList.Test/bin/Debug/netcoreapp3.1/PrimeList.pdb
PrimeList.Test/bin/Debug/netcoreapp3.1/PrimeList.Test.dll
PrimeList.Test/bin/Debug/netcoreapp3.1/PrimeList.Test.pdb
PrimeList.Test/obj/Debug/netcoreapp3.1/PrimeList.Test.csproj.CoreCompileInputs.cache
PrimeList.Test/obj/Debug/netcoreapp3.1/PrimeList.Test.csprojAssemblyReference.cache
PrimeList.Test/obj/Debug/netcoreapp3.1/PrimeList.Test.dll
PrimeList.Test/obj/Debug/netcoreapp3.1/PrimeList.Test.pdb
PrimeList.Core/bin/Debug/netcoreapp3.1/PrimeList.dll
PrimeList.Core/bin/Debug/netcoreapp3.1/PrimeList.pdb
PrimeList.Core/obj/Debug/netcoreapp3.1/PrimeList.dll
PrimeList.Core/obj/Debug/netcoreapp3.1/PrimeList.pdb
PrimeList.Core/bin/Debug/netcoreapp3.1/PrimeList.dll
PrimeList.Core/bin/Debug/netcoreapp3.1/PrimeList.pdb
PrimeList.Core/obj/Debug/netcoreapp3.1/PrimeList.dll
PrimeList.Core/obj/Debug/netcoreapp3.1/PrimeList.pdb
